<header class="header">
    <a href="/" class="header__logo">NodeJS</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="<%= isActiveRoute('/',currentRoute) %>">Home</a>
            </li>
            <li>
                <a href="/about" class="<%= isActiveRoute('/about',currentRoute) %>">About</a>
            </li>
            <li>
                <a href="/contact" class="<%= isActiveRoute('/contact',currentRoute) %>">Contact</a>
            </li>
        </ul>

        <div class="header__button">
            <button class="seachBtn" aria-expanded="false">
                Search
                <img src="/images/search.svg" alt="search">
            </button>
        </div>

    </nav>
</header>